.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.listItem {
  background-color: rgb(212, 209, 241);
  border-radius: 10px;
  margin: 2px;
}
.listItem:hover {
  background-color: rgb(189, 189, 243);
  cursor: pointer;
}
.list {
  padding: 0;
}
.pagination {
  padding-top: 10px
}
.button {
  background-color: white;
}
.button:hover {
  background-color: whitesmoke;
  cursor: pointer;
}